.cell {
    border: 0.5px;
    border-color: #111111;
    border-style: solid;
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    color: #111111;
    padding-left: 10px;
    padding-right: 10px;
}

.cellWithError {
    border: 10px;
    border-color: #111111;
    font-family: monospace;
    font-size: 12px;
    color: #111111;
}

.cellWithClue {
    border: 10px;
    border-color: #111111;
    font-family: monospace;
    font-size: 12px;
    color: #111111;
}