
<table>
    <tbody>
        <tr *ngFor="let row of sudokuBoardModel.cells; index as r;">
            <td *ngFor="let cell of row; index as c">
                <sudoku-cell 
                [value]="cell.value" 
                [isClue]="cell.mask" 
                [isSelected]="cell.isSelected" 
                [hasError]="(cell.value !== cell.cell) && (cell.value !== 0)"
                [isClickable]="isClickable"
                (click)="onCellClick(r, c);"
                >
                </sudoku-cell>
            </td>
        </tr>
    </tbody>
</table>