<div class="main">
    <sudoku-board [board]="sudokuBoardModel" [isClickable]="false"></sudoku-board>
</div>

<div class="buttons">
    <button role="button" (click)="getNewPuzzle()" class="button button-2">Get new puzzle</button>
</div>

<div class="buttons">
    <input [(ngModel)]="deltaMultiplier" type="range" id="delta" name="delta" min="0.5" max="10" step="0.1" />
</div>
<div class="buttons">
    <label class="button">
        Speed: {{deltaMultiplier}}
    </label>
</div>

<div class="buttons">
    <label class="button">
        <input [(ngModel)]="numberOfFields" type="range" id="hiddenFields" name="hiddenFields" min="5" max="60" step="5" />
        Hidden fields: {{numberOfFields}}
    </label>
</div>