.menuElement {
    background-color: #F2AFEF;
    text-align: center;
}

.menuElement:hover {
    background-color: #C499F3;
}

a.menuHref {
    text-decoration: none;
    color: #7360DF;
    user-select: none;
    cursor: pointer;
}

.selected {
    color: #33186B;
    background-color: #C499F3;
}

a.menuHref:hover {
    color: #33186B;
}
