@use '../../common/styles/main.scss' as main;

.menuElement {
    background-color: main.$mainColor1;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menuElement:hover {
    background-color: main.$mainColor3;
    color: main.$white;
}

a.menuHref {
    text-decoration: none;
    color: main.$mainColor3;
    user-select: none;
    cursor: pointer;
}

.selected {
    color: main.$mainColor4;
    background-color: main.$mainColor2;
}

a.menuHref:hover {
    color: main.$mainColor4;
}

.main {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}

.menuLeft {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}

.menuRight {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}
